<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Code0_packet_reader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Code0_packet_reader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Code0_packet_reader.My.MySettings>
      <setting name="user" serializeAs="String">
        <value/>
      </setting>
    </Code0_packet_reader.My.MySettings>
  </userSettings>
  <applicationSettings>
    <Code0_packet_reader.My.MySettings>
      <setting name="packet" serializeAs="String">
        <value/>
      </setting>
      <setting name="number" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="defaultportcode0packetreader" serializeAs="String">
        <value>443</value>
      </setting>
    </Code0_packet_reader.My.MySettings>
  </applicationSettings>
</configuration>
